[submodule "third_party/libero"]
	path = third_party/libero
	url = git@github.com:Lifelong-Robot-Learning/LIBERO.git
[submodule "third_party/calvin"]
	path = third_party/calvin
	url = git@github.com:mees/calvin.git